input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(248, 5, 5);
  background-color: rgb(78, 94, 91);
  box-sizing: border-box;
}

button {
  background-color: #f1efef;
  color: rgb(7, 7, 7);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bolder;
}
label{
  font-size: xx-large;
  font-weight: lighter;
}
button:hover {
  opacity: 0.8;
}